Repository MrMelon1232/group_L-soen341project2022, pull requests merged in 2022-02, with the labels that each got.

#31 add eslint-plugin-prettier to the dev dependencies
  my-app/react-app/package-lock.json
  my-app/react-app/package.json
Labels: bug

#35 #23/Adding a basic .NET app
  my-app/backend/API.sln
  my-app/backend/API/.gitignore
  my-app/backend/API/API.csproj
  my-app/backend/API/Controllers/WeatherForecastController.cs
  my-app/backend/API/Program.cs
  my-app/backend/API/Properties/launchSettings.json
  my-app/backend/API/Startup.cs
  my-app/backend/API/WeatherForecast.cs
  my-app/backend/API/appsettings.Development.json
  my-app/backend/API/appsettings.json
  my-app/react-app/.gitignore
Labels: Back End

#34 #27/homepage navbar
  .DS_Store
  .vscode/settings.json
  my-app/.DS_Store
  my-app/react-app/.DS_Store
  my-app/react-app/.prettierrc
  my-app/react-app/package-lock.json
  my-app/react-app/package.json
  my-app/react-app/public/index.html
  my-app/react-app/src/.DS_Store
  my-app/react-app/src/App.css
  my-app/react-app/src/App.jsx
  my-app/react-app/src/components/Button.css
  my-app/react-app/src/components/Button.jsx
  my-app/react-app/src/components/Navbar/MenuItems.jsx
  my-app/react-app/src/components/Navbar/Navbar.css
  my-app/react-app/src/components/Navbar/Navbar.jsx
  my-app/react-app/src/components/pages/Contact.jsx
  my-app/react-app/src/components/pages/Explore.jsx
  my-app/react-app/src/components/pages/Home.jsx
  my-app/react-app/src/components/pages/OurBrand.jsx
  my-app/react-app/src/components/pages/Products.jsx
  my-app/react-app/src/index.js
  package-lock.json
  package.json
Labels: Front End, story point

#37 Connecting MySQL DB to API
  my-app/backend/API/API.csproj
  my-app/backend/API/Controllers/LoginController.cs
  my-app/backend/API/Controllers/WeatherForecastController.cs
  my-app/backend/API/Data/DBInitializer.cs
  my-app/backend/API/Data/ProductContext.cs
  my-app/backend/API/Models/LoginItem.cs
  my-app/backend/API/Program.cs
  my-app/backend/API/Properties/launchSettings.json
  my-app/backend/API/Startup.cs
  my-app/backend/API/WeatherForecast.cs
  my-app/backend/API/appsettings.json
Labels: Back End, database

#39 #24 loginform
  my-app/backend/API/Controllers/WeatherForecastController.cs
  my-app/backend/API/Program.cs
  my-app/backend/API/Properties/launchSettings.json
  my-app/backend/API/Startup.cs
  my-app/backend/API/WeatherForecast.cs
  my-app/backend/API/appsettings.json
  my-app/react-app/.eslintrc.json
  my-app/react-app/package-lock.json
  my-app/react-app/package.json
  my-app/react-app/public/index.html
  my-app/react-app/src/components/Button.css
  my-app/react-app/src/components/Button.jsx
  my-app/react-app/src/components/Navbar/Navbar.jsx
  my-app/react-app/src/components/login/login.jsx
  my-app/react-app/src/components/login/login.tsx
  my-app/react-app/src/components/login/signup.jsx
  my-app/react-app/src/components/login/signup.tsx
  my-app/react-app/src/containers/index.jsx
  my-app/react-app/src/containers/index.tsx
  my-app/react-app/yarn.lock
Labels: moderate risk, Front End, user story

#46 meeting minutes for sprint 2
  Sprint 2/Meeting minutes
Labels: documentation
